// теплее
$main: #2069d3;
$main-d: #195ec4;
$main-dd: rgba(32, 104, 211, 0.3);

$good: #1ccfb1;
$good-l: rgba(28, 207, 177, 0.21);
$bad: #eb7a84;
$warning: #ffb121;

$c-1: #03846e;
$c-2: #2069d3;
$c-3: #ea4470;
$c-4: #ffb531;
$c-5: #000;
$c-6: #fff;

$text: #fff;
$text-i: #000;
$text-d: #000;
$text-l: #6e6e6e;
$text-ll: #b0b1c2;

$line: #fff;
$line-d: #2b2b2e;
$line-l: rgba(100, 100, 105, 0.4);

$bg: #000;
$bg-l: #111212;
$bg-i: #fff;
$bg-i-d: #f5f5f5;
$bg-d: #2d2d2d;
$bg-t-d: rgba(12, 12, 12, 0.5);

$overlay: rgba(43, 46, 56, 0.8);

$t: all 0.12s ease-in-out;
$t-value: 0.12s ease-in-out;

$bp-xxxsm: 320px;
$bp-xxsm: 400px;
$bp-xsm: 575px;
$bp-sm: 750px;
$bp-md: 900px;
$bp-lg: 1050px;
$bp-xl: 1300px;
$bp-xxl: 1600px;
$bp-xxxl: 2000px;

$br-md: 30px;
$br-lg: 42px;
$br-xl: 47px;
$br-section: 117px;
